<head>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Ley3H8qAAAAAMOQtIgxe-AJKkGO_1ZepRKW7fZS"></script>
  </head>


<form id="newsletterForm" method="post" action="/subscribe">
    <label for="email">Sign up for our newsletter:</label>
    <input type="email" id="email" name="email" required>
    <div class="g-recaptcha" data-sitekey="6Ley3H8qAAAAAMOQtIgxe-AJKkGO_1ZepRKW7fZS"></div>
    <button type="submit">Subscribe</button>
</form>

<script>
    function onClick(e) {
      e.preventDefault();
      grecaptcha.enterprise.ready(async () => {
        const token = await grecaptcha.enterprise.execute('6Ley3H8qAAAAAMOQtIgxe-AJKkGO_1ZepRKW7fZS', {action: 'LOGIN'});
      });
    }
  </script>